@font-face {
	font-family: "CircularStd-400";
	src: url(../fonts/CircularStd-400.woff) format("woff");
	src: url(../fonts/CircularStd-400.woff2) format("woff2");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "CircularStd-500";
	src: url(../fonts/CircularStd-500.woff) format("woff");
	src: url(../fonts/CircularStd-500.woff2) format("woff2");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "CircularStd-700";
	src: url(../fonts/CircularStd-700.woff) format("woff2");
	src: url(../fonts/CircularStd-700.woff2) format("woff2");
	font-weight: 700;
	font-style: normal;
}
